@-webkit-keyframes wiggle {
	from {
		-webkit-transform: rotate(5deg);
	}
	50% {
		-webkit-transform: rotate(-5deg);
	}
	to {
		-webkit-transform: rotate(5deg);
	}
}
@-webkit-keyframes up-n-down {
	from {
		-webkit-transform: translate(0,7px);
	}
	50% {
		-webkit-transform: translate(0,0);
	}
	to {
		-webkit-transform: translate(0,7px);
	}
}

html {
	height: 100%;
	background-color: #434c50;
	background-image: linear-gradient(45deg, #C9C9C9, #949494);
	background-size: 100%;
	background-attachment: fixed;
}

body {
	font-family: 'Signika Negative', sans-serif;


	color: #fff;

}

a {
	color: white;
}
a:hover {
	color: #001C8A; /*random ass color*/
}


.animateText {
	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
  	/*^ this vertically and horizontally centers an element, brilliant*/

  	height: 100px;
  	width: 400px;
  	text-align: center;


  	-webkit-animation-name: up-n-down;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;

}

.hiddenheading {
	display: none;
}

header {
	position: absolute;
	top: 120px; left: 0; right: 0; bottom: 0;

	width: 400px;

	margin-left: auto;
	margin-right: auto;
}
#imageholder {	
	margin-left: auto;
	margin-right: auto;

	height: 80px;
	width: 208px;
	background-image: url('Logotype3extrasmall.png');
}


.emailCollector iframe {
	position: absolute;
	top: 220px; left: 0; right: 0; bottom: 0;
	margin-left: auto;
	margin-right: auto;
}




nav li {
	display: inline-block;
	list-style: none;
	padding: 2px 10px;
	width: 140px;
}

nav a {
	color: white;
	text-decoration: none;
}
nav a:hover {
	
}

nav ul {
	text-align: center;
	-webkit-padding-start: 0px; /*clears webkit default*/
}

nav {
	font-family: 'Rokkitt', sans-serif;

	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;

	width: 200px;

}



footer {
	position: absolute;
	top: 700px;
	font-size: 8pt;

	padding-bottom: 40px;

	text-align: center;

	margin: auto;
  	left: 0; right: 0;

}
footer a {
	text-decoration: none;
}





.above {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left:0; right:0;
	z-index: 999;
}

.fogs {
	position: absolute;
	z-index: -999;
	left: -65px;
	top: -10px;
}
.fogs p {
	color: rgba(0,0,0,0);
}


/*borrowed from http://media.24ways.org/2009/15/assets/css/space.css*/

/*body {
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
	from {
		background-color: #434c50;
	}
	25% {
		background-color: #000;
	}
	50% {
		background-color: #003;
	}
	to {
		background-color: #434c50;
	}
}*/



/*#fog,
#fog-2 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2000px;
	height: 2000px;
	margin-top: -1000px;
	margin-left: -1000px;
	opacity: .5;
	background: url(img/fog.png) repeat-x 0 center;
	-webkit-animation-name: fogAnimation;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

#fog-2 {
	opacity: 1;
	-webkit-animation-duration: 120s;
}

@-webkit-keyframes fogAnimation {
	from {
		-webkit-transform: rotate(0deg);
		background-position: 0 center;
	}
	to {
		-webkit-transform: rotate(360deg);
		background-position: 1000px center;
	}
}*/

#glow {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 800px;
	height: 800px;
	margin: -400px 0 0 -400px;
	background: url(img/glow.png) repeat-x 0 0;
	-webkit-animation-name: glowAnimation;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes glowAnimation {
	from {
		opacity: 1;
	}
	50% {
		opacity: .75;
	}
	to {
		opacity: 1;
	}
}

#light {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 800px;
	height: 800px;
	margin: -400px 0 0 -400px;
	background: url(img/light.png) no-repeat center center;
	-webkit-animation-name: lightAnimation;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes lightAnimation {
	from {
		opacity: .25;
	}
	50% {
		opacity: .5;
	}
	to {
		opacity: .25;
	}
}

#stars,
#stars-2,
#small-stars,
#small-stars-2 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 600px;
	margin: -300px 0 0 -300px;
	background: url(img/stars-large.png) no-repeat center center;
	-webkit-animation-name: starsLarge;
	-webkit-animation-duration: 60s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes starsLarge {
	from {
		-webkit-transform: rotate(0deg) scale(3);
		opacity: .1;
	}
	to {
		-webkit-transform: rotate(360deg) scale(.5);
		opacity: 0;
	}
}

#stars-2 {
	-webkit-animation-name: starsLargeAlt;
	-webkit-animation-duration: 45s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes starsLargeAlt {
	from {
		-webkit-transform: rotate(180deg) scale(3);
		opacity: .25;
	}
	to {
		-webkit-transform: rotate(360deg) scale(.5);
		opacity: 0;
	}
}

#small-stars,
#small-stars-2 {
	background: url(img/stars-small.png) no-repeat center center;
	-webkit-animation-duration: 15s;
	-webkit-animation-name: starsSmall;
}

#small-stars-2 {
	-webkit-animation-name: starsSmallAlt;
	-webkit-animation-duration: 30s;
}

@-webkit-keyframes starsSmall {
	from {
		-webkit-transform: rotate(360deg) scale(3);
		opacity: .25;
	}
	to {
		-webkit-transform: rotate(0deg) scale(.5);
		opacity: 0;
	}
}

@-webkit-keyframes starsSmallAlt {
	from {
		-webkit-transform: rotate(0deg) scale(3);
		opacity: .1;
	}
	to {
		-webkit-transform: rotate(360deg) scale(.5);
		opacity: 0;
	}
}



